#principal{
	text-align: center;
	color: white;
}
table{
	width:90%;
}
td{
	text-align: center;
	border-color:#0B0B61;
	border-radius: 16px;

}
h2{
	text-align: center;
	color: #A3D1FF;
}
p{
	text-align: left;
}
#tituloPelicula{
	color: blue;

}
#index{
	background-color: #293D3D;
}
img{
	width:60%;
}
#header{
	width: 80%;
	background-color: yellow;

}
#contenido {
	width: 80%;
}
#footer{
	width: 80%;

}